.side-bar
  .side-bar__user-name
    .top-items
      %p.top-items__name
        aaaa
      %ul.top-items__icons
        %li.top-items__icons__new-group
          = link_to "https://www.facebook.com/" do
            = icon('far', 'edit', class:'top-items__icons__items')
        %li.top-items__icons__edit-user
          = link_to "https://www.facebook.com/" do
            = icon('fas', 'cog', class:'top-items__icons__items')
  .side-bar__group-list
    .side-bar__group
      %p.side-bar__group-list__group-name
        aiueo
      %p.side-bar__group-list__group-message
        まだメッセージがありません
    .side-bar__group
      %p.side-bar__group-list__group-name
        ccccc
      %p.side-bar__group-list__group-message
        ccccc




